body, h3, p{
    margin: 0;
    padding: 0;
	font-family: "Inter", sans-serif;
}

/*-----HEADER-----*/

header {
	width: 100%;
	display: flex;
	align-items: center;
	margin-left: auto;
	height: 120px;
	overflow: hidden;
	background-color: #3C3C3C;
	box-shadow: 0 1px 0 #3c3c3c;
}

header .logo-header{
	width: 156px;
	height: auto;
}

header .menu-header{
	display: flex;
	align-items: center;
	margin-left: auto;
	margin-right: 50px;
	gap: 30px;
	flex-wrap: wrap;
	list-style: none;
	font-size: 17px;
	color: white;
}

header .menu-header li {
	display: flex;
	align-items: center;
	gap: 5px;
}

header .menu-header li:hover{
	border-bottom: 2px solid white;
}

header .menu-header a{
	text-decoration: none;
	color: white;
	transition: .5s;
}

header .menu-header li i{
	font-size: 19px;
}


/*-----SEÇAO ENCONTRE EVENTOS-----*/
.encontre-eventos{
	width: 100%;
	display: inline-flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	gap: 0px;
	background-color: #3c3c3c;
}

.encontre-eventos h1{
	max-width: 800px;
	text-align: center;
	font-size: 48px;
	font-weight: 700;
	margin-top: 20px;
	color: white;
}

.encontre-eventos p{
	font-size: 16px;
	margin: 5px 0;
	color: white;
}

.pesquisa-home{
	width: 644px;
	background-color: white;
	border-radius: 23px;
	padding: 27px 36px 12px;
	margin-bottom: 50px;
	margin-top: 5px;
	box-shadow: 0px 3px 5px #444;
}

.inputs-pesquisa-home{
	display: flex;
	gap: 10px;
	margin-bottom: 20px;
}

.input-wrapper{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 208px;
	background-color: #E8E8E8;
	border-radius: 20px;
	padding: 8px;
	color: #747474;
}

.input-wrapper:focus-within {
    box-shadow: 0 0 0 2px #3c3c3c;
    border-radius: 20px;
}

.input-wrapper i{
	font-size: 20px;
	max-width: calc(100% - 30px);
}

.input-wrapper input{
	width: 148px;
	border: none;
	color: #747474;
	background-color: #E8E8E8;
	font-size: 16px;
	outline: none;
}

#input-date{
	width: 100%;
	color: #747474;
	cursor: text;
}

.button-wrapper{
	display: flex;
	justify-content: center;
	border-radius: 100px;
	width: 100%;
	height: 30px;
	background-color: #3c3c3c;
	transition: .3s;
}

.button-wrapper:hover{
	cursor: pointer;
	background-color: #7346DF;
}

.button-wrapper i{
	font-size: 20px;
	color: white;
	align-self: center;
	max-width: calc(100% - 30px);
}

.button-wrapper button{
	background-color: transparent;
	border: none;
	color: white;
	font-size: 16px;
}

.button-wrapper button:hover{
	cursor: pointer;
}


/*----------SECAO CATEGORIAS-----------*/
.secao-categorias{
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding: 40px 100px;
	box-sizing: border-box;
	background-color: #F3F3F3;
}

.secao-categorias h2{
	margin: 0 0 50px 0;
	font-size: 30px;
	font-weight: 400;
}

.categorias{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: center;
	background-color: transparent;
	padding-bottom: 20px;
}

.categorias i{
	font-size: 25px;
	text-align: center;
	color: white;
	padding: 8px;
}

.categoria{
	width: 160px;
	height: 110px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: white;
	border-radius: 23px;
	box-shadow: 0 3px 5px #666;
}

.categoria p{
	margin-bottom: 0;
}

 .circle-icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        color: white;
        font-size: 24px;
    }

/*----------SECAO CATEGORIAS-----------*/
.secao-destaque{
	padding: 40px 100px;
}


/*---------------FOOTER----------------*/

footer{
	width: 100%;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	background-color: #F5F5F5;
}

.infos-footer {
	width: 100%;
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	justify-content: space-between;
	padding: 30px 50px;
	border-bottom: 2px solid black;
}

.infos-footer .slogan {
	width: 400px;
}

.infos-footer .descubra {
	gap: 2px;
}

.infos-footer .descubra ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.infos-footer .organizadores {
	gap: 2px;
}

.infos-footer .organizadores ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.infos-footer .siga-nos {
	gap: 2px;
}

.infos-footer .siga-nos ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	gap: 2px;
}

.footer {
	width: 100%;
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	justify-content: space-between;
	align-items: center;
	padding: 0px 50px;
}

.footer ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	gap: 10px;
}

 /*---------------MODAL DE LOGIN----------------*/

/* Estilos para o modal */
#modal-login {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition: opacity 0.2s ease, visibility 0.2s ease;
}

#modal-login.open {
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
}

.secao-login {
	position: relative;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	padding: 40px;
	max-width: 350px;
	width: 90%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.secao-login h1 {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 20px;
	color: #333;
}

.tipo-login {
	display: flex;
	gap: 10px;
	margin-bottom: 20px;
}

.type-btn {
	flex: 1;
	padding: 5px 10px;
	border: none;
	border-radius: 7px;
	background-color: #E8E8E8;
	color: #333;
	opacity: 0.5;
	font-size: 14px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.type-btn.active {
	opacity: 1;
	background-color: #A855F7;
	color: white
}

.type-btn:hover {
	background-color: #C4C4C4;
}

.type-btn.active:hover {
	background-color: #8431d3;
}

.secao-login .form-login {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.secao-login .form-login .input-login label{
	font-size: 12px;
	margin-bottom: 2px;
	color: #333;
}

.secao-login .form-login .input-login input{
	height: 25px;
	padding: 10px;
	background-color: #EEE;
	border: none;
	border-radius: 7px;
	font-size: 14px;
	box-shadow: none;
}

.password-wrapper {
	position: relative;
}

.password-wrapper input {
	width: 100%;
	box-sizing: border-box;
}

.password-wrapper i {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	color: #747474;
}

#login-password {
	height: 45px;
}

.close {
	display: flex;
	align-self: flex-end;
	margin-bottom: -14px;
	font-size: 24px;
	cursor: pointer;
	color: #333;
}

.form-login {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 5px;
}

.form-login .input-login {
	display: flex;
	flex-direction: column;
}

.form-login .check-remember {
	display: flex;
	height: 23px;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.form-login .check-remember .checkbox-wrapper-14 {
	display: flex;
	align-items: center;
}

.form-login .check-remember .checkbox-wrapper-14 label {
	font-size: 14px;
	color: #333;
	margin-left: 5px;
	line-height: 23px;
}

.form-login .check-remember a {
	font-size: 14px;
	color: #0066cc;
	text-decoration: none;
	line-height: 23px;
}

.form-login .check-remember a:hover {
	text-decoration: underline;
}

.form-login	p {
	align-self: center;
	font-size: 14px;
	color: #333;
}

.form-login p a {
	color: #0066cc;
	text-decoration: none;
}

.form-login p a:hover {
	text-decoration: underline;
}

#login-btn {
	height: 40px;
	padding: 10px;
	border: none;
	border-radius: 7px;
	background-color: #A855F7;
	color: white;
	font-family: inherit;
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 25px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

#login-btn:hover {
	background-color: #8431d3;
}

#google-login-btn {
	height: 40px;
	padding: 10px;
	border: none;
	border-radius: 7px;
	background-color: #333;
	color: white;
	font-family: inherit;
	font-size: 14px;
	margin-top: 10px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
}

#google-login-btn .fa-google {
	font-size: 20px;
}

#google-login-btn::before {
	content: "";
	position: absolute;
	top: -25px;
	left: 0;
	width: 100%;
	height: .5px;
	background-color: #e7e7e7;
}

.secao-cadastro {
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	padding: 10px 50px 50px 50px;
}

.secao-cadastro .cadastro-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 10px;
	margin: 50px 0 20px 0;
}

.secao-cadastro .cadastro-header h1 {
	font-size: 30px;
	font-weight: 700;
	color: #333;
	margin: 0;
}

.secao-cadastro .type-btn {
	width: 150px;
	height: 30px;
}

#form-cadastro {
	width: 800px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 20px;
}

#nome-cadastro {
	grid-column: span 4;
}

#input-dinamico-cadastro {
	grid-column: span 2;
}

#email-cadastro {
	grid-column: 3 / 5;
}
#cidade-cadastro {
	grid-column: span 3;
}

#endereço-cadastro {
	grid-column: span 4;
}

#telefone-cadastro {
	grid-column: 1 / 3;
}

#senha-cadastro {
	grid-row: 6;
	grid-column: span 2;
}

#confirmar-senha-cadastro {
	grid-row: 6;
	grid-column: 3 / 5;
}

#btn-cadastrar {
	grid-column: span 4;
	height: 40px;
	padding: 10px;
	border: none;
	border-radius: 7px;
	background-color: #A855F7;
	color: white;
	font-family: inherit;
	font-size: 14px;
	font-weight: 700;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

#form-cadastro .input-wrapper-registro {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

#form-cadastro .input-wrapper-registro label {
	font-size: 14px;
	color: #333;
}

#form-cadastro .input-wrapper-registro input {
	height: 25px;
	padding: 10px;
	background-color: #EEE;
	border: none;
	border-radius: 7px;
	font-size: 14px;
	box-shadow: none;
}



/*--------------------templates--------------------*/

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
.checkbox-wrapper-14 input[type=checkbox] {
	--active: #275EFE;
	--active-inner: #fff;
	--focus: 2px rgba(39, 94, 254, .3);
	--border: #BBC1E1;
	--border-hover: #275EFE;
	--background: #fff;
	--disabled: #F6F8FF;
	--disabled-inner: #E1E6F9;
	-webkit-appearance: none;
	-moz-appearance: none;
	height: 21px;
	outline: none;
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin: 0;
	cursor: pointer;
	border: 1px solid var(--bc, var(--border));
	background: var(--b, var(--background));
	transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
}
.checkbox-wrapper-14 input[type=checkbox]:after {
	content: "";
	display: block;
	left: 0;
	top: 0;
	position: absolute;
	transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
}
.checkbox-wrapper-14 input[type=checkbox]:checked {
	--b: var(--active);
	--bc: var(--active);
	--d-o: .3s;
	--d-t: .6s;
	--d-t-e: cubic-bezier(.2, .85, .32, 1.2);
}
.checkbox-wrapper-14 input[type=checkbox]:disabled {
	--b: var(--disabled);
	cursor: not-allowed;
	opacity: 0.9;
}
.checkbox-wrapper-14 input[type=checkbox]:disabled:checked {
	--b: var(--disabled-inner);
	--bc: var(--border);
}
.checkbox-wrapper-14 input[type=checkbox]:disabled + label {
	cursor: not-allowed;
}
.checkbox-wrapper-14 input[type=checkbox]:hover:not(:checked):not(:disabled) {
	--bc: var(--border-hover);
}
.checkbox-wrapper-14 input[type=checkbox]:focus {
	box-shadow: 0 0 0 var(--focus);
}
.checkbox-wrapper-14 input[type=checkbox]:not(.switch) {
	width: 21px;
}
.checkbox-wrapper-14 input[type=checkbox]:not(.switch):after {
	opacity: var(--o, 0);
}
.checkbox-wrapper-14 input[type=checkbox]:not(.switch):checked {
	--o: 1;
}
.checkbox-wrapper-14 input[type=checkbox] + label {
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	margin-left: 4px;
}

.checkbox-wrapper-14 input[type=checkbox]:not(.switch) {
	border-radius: 7px;
}
.checkbox-wrapper-14 input[type=checkbox]:not(.switch):after {
	width: 5px;
	height: 9px;
	border: 2px solid var(--active-inner);
	border-top: 0;
	border-left: 0;
	left: 7px;
	top: 4px;
	transform: rotate(var(--r, 20deg));
}
.checkbox-wrapper-14 input[type=checkbox]:not(.switch):checked {
	--r: 43deg;
}
.checkbox-wrapper-14 input[type=checkbox].switch {
	width: 38px;
	border-radius: 11px;
}
.checkbox-wrapper-14 input[type=checkbox].switch:after {
	left: 2px;
	top: 2px;
	border-radius: 50%;
	width: 17px;
	height: 17px;
	background: var(--ab, var(--border));
	transform: translateX(var(--x, 0));
}
.checkbox-wrapper-14 input[type=checkbox].switch:checked {
	--ab: var(--active-inner);
	--x: 17px;
}
.checkbox-wrapper-14 input[type=checkbox].switch:disabled:not(:checked):after {
	opacity: 0.6;
}
}

.checkbox-wrapper-14 * {
box-sizing: inherit;
}
.checkbox-wrapper-14 *:before,
.checkbox-wrapper-14 *:after {
box-sizing: inherit;
}